@media only screen and (max-width: 768px) {
    .sidePanel {
        display: none !important;
    }

    .Button {
        font-size: 11px !important;
    }
}

.sidePanel {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #00563b;
    border-radius: 0px 16px 16px 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    transition: ease 300ms;
}

.sideBtnContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30%;
    margin-left: 5px;
    margin-right: 5px;
}

.Button {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px !important;
    border: 0px;
    color: white !important;
    text-align: left !important;
}

.Button:hover {
    background-color: #146a4f !important;
    border-radius: 16px;
}

.line {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 0px 16px 16px 0px;
}
