.cardContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sensorCard {
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 380px;
    border-radius: 30px !important;
    margin: 10px;
    background: #ffffff !important;
    box-shadow: rgba(0 0 0 0.16) 0px 3px 6px rgba(0 0 0 0.23) 0px 3px 6px !important;
    text-align: center;
}

.cardContent {
    display: flex;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 100px;
}

.unitValueContainer {
    background-color: #79ac78;
    height: 75px;
    width: 75px;
    position: absolute;
    top: 60;
    border-radius: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
        inset -33px -33px 65px #3d563c,
        inset 33px 33px 65px #b6ffb4 !important;
}
