.container {
    background-color: rgb(249, 242, 233);
    width: 100%;
    height: calc(100vh - 150px);
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    background: rgba(157, 157, 157, 0.38);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    border: 1px solid rgba(157, 157, 157, 0.3);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

@media only screen and (max-width: 768px) {
    .container {
        height: calc(100vh - 190px);
    }

    .controlCardContainer {
        display: flex;
        flex-direction: column;
    }
}

.welcome {
    padding: 15px;
    color: white;
    width: 50%;
    height: 20%;
    background: rgba(85, 88, 67, 0.67);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
}

.sensorsTable {
    display: flex;
    flex-direction: column;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
}

.greenhouseField {
    width: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;

    background: rgba(47, 210, 112, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(193, 198, 195, 0.36);
}

.greenhouseIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.greenhouseValue {
    font-size: 40px;
    margin-left: 20px;
}

.icon {
    font-size: 80px !important;
}

.controlCardContainer {
    display: flex;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
